

.content {
  position: absolute;
  top: 10vh;
  left: 10vh;
}
.w1 {
  margin-top: 10vh;
  color: #EF7E2A;
  font-size: 80px;
  font-family: "Piedra";
}
.w2 {
  color: #f9f9f9;
  font-size: 80px;
  font-family: "Piedra";
}
.p {
  font-size: 18px;
  font-family: "Poppins";
  color: #8b8d8e;
  line-height: 25px;
}
.box {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 90vh;
  height: 12vh;
  left: 10vh;
  top: 68vh;
  background: #8b8d8e3d;
  border: 3px solid #8b8d8e2b;
  border-radius: 5px;
}

.destination1,
.destination2 {
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  width: 60.5vh;
  height: 8.5vh;
  left: 12vh;
  top: 70vh;
  border-radius: 5px;
}

.destination2 {
  left: 50vh;
}

.p2 {
  font-size: 60px;
}

.custom-modal {
  top: 50px;
  left: 450px;
  max-width: 400px;
  max-height: 600px;
}

.center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery{
  height: 400px;
  background-color: #d39362;
}
.place{
  height: 400px;
  background-color: #39e6ce;
}
.get_start{
  height: 400px;
  background-color: #e4d449;
}

.Backgroung-img{
  position: relative;
}

.tourist{
  position: absolute;
  z-index: 10;
  top: 170px;
  right: 100px;
}

.blob{
position: absolute;
  height: 600px;
  width: 580px;
  top: 40px;
  right: 0px;
  
}

.background{
    height: 100%;
    width: 100%;
}
.background_image{
    height: 80%;
    width: 30vw;
}
.carousel1{
  width: 0vw;
}

.aboutUs{
  width: 80vw;
  align-items: center;
}
p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}




.cUsContent{

  width: 100%;
  display: grid;
 
  grid-template-columns: 1fr 1fr;
}
/* 
.contPara{
  flex-direction: row;
  width: 50%;
}

.contForm{
  flex-direction: row;
}

  
  ::placeholder {
      color: #999;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .input{
  height: 7vh;
  width: 60vh;
  margin: 1.5vh;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-bottom: 2px solid #fbabab;
  text-indent: 20px;
  }
  
  .input:focus,
  .message:focus {
      outline: none;
      background-color: rgb(71, 70, 70);
      color: black;
    }
  
  .input:not(:placeholder-shown),
  .message:not(:placeholder-shown) {
      background-color: #7dabf9;
      color: black;
  }
  
  .message{
  height: 20vh;
  width: 60vh;
  margin: 1.5vh;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-bottom: 2px solid #fbabab;
  text-indent: 20px;
  padding-top: 14px;
  }
  
  .form-button{
  left: 100vh;
  }
  
  .CUform-button{
      position: absolute;
      left: 40vh;
      width: 10vh;
      height: 5vh;
      color: #F04B47;
      background: white;
      font-weight: 500;
      font-family: 'Inria Serif';
  }
  
  
  .CUform-button1{
      position: absolute;
      left: 51.5vh;
      width: 10vh;
      height: 5vh;
      color: white;
      background: #F04B47;
      font-weight: 500;
      font-family: 'Inria Serif';
  }
  
   */