.content {
  position: absolute;
  top: 10vh;
  left: 10vh;
}
.w1 {
  margin-top: 10vh;
  color: #EF7E2A;
  font-size: 80px;
  font-family: "Piedra";
}
.w2 {
  color: #f9f9f9;
  font-size: 80px;
  font-family: "Piedra";
}
.p {
  font-size: 18px;
  font-family: "Poppins";
  color: #8b8d8e;
  line-height: 25px;
}
.box {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  width: 90vh;
  height: 12vh;
  left: 10vh;
  top: 68vh;
  background: #8b8d8e3d;
  border: 3px solid #8b8d8e2b;
  border-radius: 5px;
}

.destination1,
.destination2 {
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  width: 60.5vh;
  height: 8.5vh;
  left: 12vh;
  top: 70vh;
  border-radius: 5px;
}

.destination2 {
  left: 50vh;
}

.p2 {
  font-size: 60px;
}

.custom-modal {
  top: 50px;
  left: 450px;
  max-width: 400px;
  max-height: 600px;
}

.center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery{
  height: 400px;
  background-color: #d39362;
}
.place{
  height: 400px;
  background-color: #39e6ce;
}
.get_start{
  height: 400px;
  background-color: #e4d449;
}