
.searchho {
  width: 31.5vh;
  border: none !important;
 
}

.combobox-inputho {
  margin: 1.5px;
  padding: 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  width: 273px;
  border: none !important;
  border-radius: 4px;
 
}

.combobox-listho {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  border: none !important;
  
 
}

.combobox-optionho {
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
  border: none !important;
}

.combobox-inputho:focus {
  outline: none;
}

