
.search {
    width: 31.5vh;
    border: none !important;
   
  }
  
  .combobox-input {
    margin: 2px;
    padding: 19px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 234px;
    border: none !important;
    border-radius: 4px;
   
  }
  
  .combobox-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border: none !important;
    
   
  }
  
  .combobox-option {
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    border: none !important;
  }

  .combobox-input:focus {
    outline: none;
  }
  
  