*{
    margin: 0;
   
}

.abc2{
    position: absolute;
    z-index: 1;
   
}

.abc{
    position: fixed;
    z-index: 100;
    top: 1vh;
    left: 80vh;
    direction: row;
}

.abc1{
    position: absolute;
    z-index: 100;
    top: 1vh;
    left: 98vh;
}

.UserName{
    left: 100vh;
    position: absolute;
    top: 2vh;
}

.Name{
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: bold;
    font-size: 18px;
}

/*drop down in profile page*/
.dropdown-content{
    width: 20vh;
    height: auto;
    border-radius: 5px;
    margin-top: 8px;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-bottom: 2px solid #00000066;
    border-left: 2px solid #74747466;
    border-right: 2px solid #7d7d7d66;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.logout-button{
    border: none;
    background-color: white;
}

.view-profile{
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.profile-image-signIn{
    width: 2.8vw;
    margin-left: 7vw;
    border-radius: 50%;
}