.login-form{
    margin: 20vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
}

.login-man{
    background-color: #E86E18;
    width: 50%;
    height: 100%;
}
.login{

    margin-left: 25vh;
    width: 50%;
    height: 100%;
}

.logMan-img{
    height: 500px;
    width: 320px;
    margin-left: 10vh;
}

.log-in-btn{
    background-color: #E86E18;
    color: white;
    border-radius: 5px;
    margin-left: 40vh;
    border: none;
    height: 6vh;
    width: 15vh;
}