.reg-form{  
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.airBalloon{
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100%;
    
}

.Register-form{
    width: 500px;
    margin: 20vh auto;
    top: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.login-form{
    width: auto;
    margin: 70px auto;
    top: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.input{
    height: 7vh;
    width: 50vh;
    margin: 2vh;
    background-color: rgb(238, 238, 238);
    border: none;
    border-bottom: 2px solid #5a5a5a;
    text-indent: 20px;
}
::placeholder {
    color: #999;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.input:focus
{
    outline: none;
    border-bottom: 3px solid green;
    color: black;
  }

.btn-primary{
    background-color: #E86E18;
    color: white;
    border-radius: 5px;
    margin-left: 37vh;
    border: none;
    height: 6vh;
    width: 15vh;
}
.error-message{
    position: absolute;
    color:red;
    padding:0;
    font-size: 12px;
    width: 50vh;
    line-height:1px;
    z-index: 10;
    margin-left: 11PX;
}

.reg-btn{
    background-color: #E86E18;
    color: white;
    border-radius: 5px;
    margin-left: 47vh;
    border: none;
    height: 6vh;
    width: 15vh;
    
}

.form-reset-password{
    width: 500px;
    margin: 20vh auto;
    top: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    padding: 5vh;
}

.form-reset-password1{
    width: 500px;
    margin: 25vh 70vh;
    top: 10vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    padding: 5vh;
}

.reset-input{
    width: 59vh;
    height: 8vh;
    border-radius: 5px;
    border: 1px solid rgb(183, 183, 183);
}