/* 
.profile-header{
    height: 25vh;
    background-color: rgb(72, 150, 91);
}

.profile-body-up{
    height: 10vh;
    background-color: rgb(231, 231, 231);
}

.profile-frame{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    z-index: 10;
    margin-top: 5vh;
    margin-left: 10vh;
    position: fixed;
    
}

.profile-header{
display: flex;
}

.header-data{
    position: absolute;
    left: 40vh;
    top: 10vh;
}

.dot-icon{
    position: absolute;
    left: 195vh;
    top: 2vh;
    width: 30px;
    height: 30px;
}

.hr{
    margin: 0.5px;
    width: 1px;
    height: 1px;
}

.hr2{
    margin: 0.9px;
    width: 1px;
    height: 1px;

}
.menu {
    position: absolute;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 20vh;
    left: 180vh;
    top: 6vh;
    border-radius: 5px;
    background-color: white;
  }

  .profile-nav{
    margin-left: 34vh;
    display: flex;
    gap: 5rem;
    padding-top: 30px;
   
  }

  .probody{
    display: flex;
    flex-direction: row;
    width: 100%;
  }


  .profile-body-down{
    background-color: rgb(241, 241, 241);
    height: 64vh;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    overflow-y: auto;

  }

.profile-body{
    background-color: white;
    z-index: 10;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
}
  
.link{
  text-decoration: none;
  color: black;
}
  

.profile-nav2{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  list-style: none;
}

.home-btn{
  position: absolute;
  margin-left: -3vh;
  margin-top: -3vh;
} */

.link{
  text-decoration: none;
  color: black;
}

.user-profile{
  margin: 8vh auto;
  display:flex;
  width: 95.95%;

}

.left-side{
flex-direction: column;
width: 20%;
height: 80vh;
background-color: azure;

}

.right-side{
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 80%;

  }

  .profile-frame{
    background: rgb(250, 189, 189);
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    z-index: 10;
    margin-top: 2vh;
    margin: 7vh;
    position: absolute;
    
}

.navBar{
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color:rgb(211, 138, 2) ;
}

.proBody{
  flex-direction: row;
  height: 90%;
}


.profile-nav{
  display: flex;
  gap: 5rem;
  padding-top: 30px;
  background-color: rgb(211, 138, 2);
  width: 0vh;
  left: 30vh;
 
}

.link{
  text-decoration: none;
  color: black;
}
  

.profile-nav2{
  /* padding-left: 10px;
  padding-right: 10px; */
  font-size: 20px;
  list-style: none;
}

.profile-body-down{
  background-color: rgb(224, 224, 224);
  height: 70vh;
  width: 100%;
  overflow-y: auto;

}

.proInfo{
  margin-top: 35vh;
}


/*user profile - review*/

.reviewCard{
  background-color: rgb(236, 255, 239);
  width: 147vh;
  height: auto;
  margin: 2vh;
  border-radius: 5px;
  padding: 4vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.delete-icon{
  margin-left: 137vh;
}

.edit-profile-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
}

.small-image {
  width: 200px; /* Adjust the width as desired */
  height: auto; /* Maintain the aspect ratio */
}
