
.link{
  text-decoration: none;
  color: black;
}

.user-profile{
  margin: 8vh auto;
  display:flex;
  width: 95.95%;
  padding: 5vh;
  height: 83vh;

}

.left-side{
flex-direction: column;
width: 18%;
height: 83vh;
background-color: white;
padding: 3vh;
border-radius: 5px;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.right-side{
  display: flex;
  height: 110%;
  flex-direction: column;
  width: 80%;

  }

  .profile-frame{
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    z-index: 10;
    margin-top: 2vh;
    margin: 2vh;
    position: absolute;
    
}

.navBar{
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color:rgb(252, 167, 9) ;
  padding: -2vh;
  border-radius: 5px;
  margin-left: 3vh;
  box-shadow: rgba(255, 193, 93, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.proBody{
  flex-direction: row;
  height: 90%;
}


.profile-nav{
  display: flex;
  gap: 12rem;
  padding-top: 15px;
  width: 0vh;
  left: 30vh;
 
}

.link{
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 1vh;
}
  

.profile-nav2{
  /* padding-left: 10px;
  padding-right: 10px; */
  font-size: 20px;
  list-style: none;
  margin-left: 15vh;
 
}

.profile-body-down{
  background-color: rgb(255, 255, 255);
  height: 72vh;
  width: 100%;
  overflow-y: auto;
  margin: 3vh;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 5px;

}

.proInfo{
  margin-top: 35vh;
}


/*user profile - review*/

.reviewCard{
  background-color: rgb(236, 255, 239);
  width: 147vh;
  height: auto;
  margin: 2vh;
  border-radius: 5px;
  padding: 4vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.delete-icon{
  margin-left: 137vh;
}

.edit-profile-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
}

.small-image {
  width: 200px; /* Adjust the width as desired */
  height: auto; /* Maintain the aspect ratio */
}

.pro-info-text{
  text-align: center;
}

.del-pro{
  margin-left: 5vh;
}
.user-image{
  width: 12vw;
}
.profile-pic-add{
  position: absolute;
  position: absolute;
  top: 18vh;
  left: 16vw;
  z-index: 100;
}
