.div1 {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  background-image: url(../../assets/homeBG.jpg);
  background-size: cover;
  
}
