/*admin page*/
.admin {
    width: 212.9vh;
    height: 97vh;
    /* z-index: 80; */
    background-color: rgb(237, 237, 237);
    position: relative;
    display: flex;
}

.admin-sidebar{
    flex-direction: row;
    width: 40vh;
    margin-top: 13vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background-color: rgb(253, 253, 253);
    height: 80vh;
    border-radius: 5px;
    padding: 4vh;
    /* z-index: 100; */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/* CSS */
.button-24 {
    background: #f9b405;
    border: 1px solid #fa9c19;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 30vh;
    margin-top: 5vh;
  }
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #e58d00;
  }

  .button-24:active {
    opacity: .5;
  }
  
  .admin-sidebar-topic{
      height:15vh;
  }

  .travel-logo-admin{

    margin-left: -2vh;
 }
 
 /* .admin-content{
     flex-direction: row;
     width: 180vh;
     margin: 2vh;
     background-color: rgb(253, 253, 253);
     height: 92vh;
     border-radius: 5px;
     padding: 3vh;
     z-index: 100;
     box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
 } 
 */



 .admin-header{
    width: 163vh;
    height: 8vh;
    box-shadow: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    z-index: 100;
    background-color: white;
    margin-top: 2vh;
    margin-left: 2.5vh;
}

.admin-header-topic{
    padding: 1.5vh;
    margin-left: 2vh;
}

.admin-stat-data {
    display: flex;
    margin-top: 8vh;
}

.admin-stat-data-user-count, 
.admin-stat-data-trip-count,
.admin-stat-data-review-count,
.admin-stat-data-image-count{
    flex-direction: row;
    width: 37.9vh;
    height: 20vh;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    /* z-index: 100; */
    margin: 2vh;
    margin-top: 5vh;
    background-color: white;
    padding: 2vh;
    /* border: 1px solid rgb(175, 175, 175); */
}


  .item{
    align-items: center;
    margin-left: 12vh;
  }
.admin-info{
    width: 163vh;
    height: 53.5vh;
    box-shadow: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    /* z-index: 100; */
    background-color: white;
    margin-top: 3vh;
    margin-left: 2.5vh;
    padding: 4vh;
}

.section-gallery-view{
    width: 165vh;
    background-color:  white;
    border-radius: 5px;
    height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: 13vh;
    padding: 4vh;
    display: flex;
}

.filter-btn{
  flex-direction: column;
}
.section-reviews-view{
  width: 156vh;
  background-color:  white;
  border-radius: 5px;
  height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.reviewCard{
    background-color: rgb(236, 255, 239);
    width: 146vh;
    height: auto;
    /* margin: 2vh; */
    border-radius: 5px;
    /* padding: 4vh; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .delete-icon{
    margin-left: 137vh;
  }

  .review-card-ul{
    padding: 0;
    margin: 0;
  }

  .start-reviewSec-admin{
    margin: 2vh;
    margin-top: 13vh;
    width: 163.5vh;
    background-color:  white;
    box-shadow: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    height: 80vh;
    padding: 5vh;
  }

/* 
  .add-admin-user{
    margin-left: 148vh;
    width: 4vh;
    height: 4vh;
    background-color: white;
    border: 1px solid rgb(255, 164, 18);
    box-shadow: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    
  } */
  
  .modal123{
    z-index: 1000;
  }

  .modaladmin{
    width: 36vw;
  }

  .btn-primary{
      background-color: rgb(237, 237, 237);
      border: 1px solid rgb(196, 196, 196);
    box-shadow: rgba(50, 50, 105, 0.35) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    width: 15vh;
    height: 5vh;
    border-radius: 5px;
    color: rgb(136, 136, 136);
  }

  .add-admin-user{
    margin-left: 105vh;
  }

  .admin-info-display{
    height: 40vh;
    width: 155vh;
    overflow-y: auto;
  }

  .stat-data-header{
    text-align: center;
  }

  .user-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .user-table th,
  .user-table td {
    padding: 8px;
    text-align: left;
    width: 25vh;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .user-table tr:hover {
    background-color: #e2e2e2;
  }
  
  .user-table button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
  }
  
 .filter-button, .reset-button {
    background-color: #3f8141;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .filter-button:hover, .reset-button:hover {
    background-color: #3c9f40;
  }
  
  .filter-button:focus, .reset-button:focus {
    outline: none;
  }
  
  .del-icon-image-admin{
    margin-left: 22vh;
  }