/*admin page*/
.admin {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: rgb(202, 243, 209);
    padding: 20px;
}

.admin-content-header,
.admin-content-body {
    display: flex;
    width: 160vh;
    border-radius: 5px;
    margin-left: 1rem;
    background-color: white;
    z-index: 20;
}

.admin-content-header {
    height: 10vh;
    justify-content: left;
    align-items: center;
    padding-left: 30px;

}

.admin-content-body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 82vh;
}

.admin-content-body-stat-data {
    display: flex;
    flex-direction: row;
}

.stat-data {
    height: 25vh;
    width: 30vh;
    margin: 5vh;
    margin-bottom: 0;
    border-radius: 5px;
    z-index: 100;
    box-shadow: rgb(161, 161, 161) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.stat-data-topic {
    margin-left: 8vh;
    font-size: 20px;
    font-weight: bold;
}

.admin-content-body-admin-details {
    display: flex;
    height: 42vh;
    width: 150vh;
    margin: 5vh;
    border-radius: 5px;
    box-shadow: rgb(161, 161, 161) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.home-btn {
    left: 177vh;
    margin-top: -16vh;
}

/*sidebar page*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5rem;
    height: 94vh;
    width: 35vh;
    background-color: white;
    z-index: 20;
    border-radius: 5px;
}

.logo {
    display: flex;
    font-size: 25px;
    gap: 1.5rem;
    align-items: center;
    height: 4%;
}

.logo>img {
    width: 3rem;
    height: 3.5rem;
}

.menuList {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
    font-size: 20px;
    margin: 1rem;
    color: black; 
    background-color: white; 
}
.menuItem:hover, .menuItem:active, .menuItem:focus{
    cursor: pointer;
    color: white;
    background-color: rgb(11, 58, 11);
    height: 40px;
    width: 160px;
    border-radius: 5px;
}
