.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
  }

  .card.reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  .card h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }