.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121708;
  color: #fff;
  line-height: 1.6;
  padding: 20px;
}
ul {
  list-style: none;
}

.content-review{
    margin-top: 10vh;
    height: 90vh;
    overflow-y: auto;
}